<body>
  <div class="container">

    <header>
      <img id="logo" src="http://camposuruguayos.com.uy/wp-content/uploads/2015/10/campo.png" width="100%">
    </header>
    <nav>
      <ul id="nav-bar">
        <li><a href="/welcome/index">Inicio</a></li>
        <li><a href="/welcome/reserva">Reserva </a></li>
        <li><a href="/welcome/precios">Precios</a></li>
        <li><a href="/welcome/contacto">Contacto</a></li>
      </ul>
      <br clear="all">
    </nav>
    <h5>Change Lenguage</h5>
    <div class="content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<a id='uno' name="inicio"></a>
      <h2 class="main-title">¿Porque viajar a Jungapeo?</h2>
      <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      </section>
      <section>
        <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a id='dos' name="hacemos"></a>
        <h2 class='hacemos'>¿Qué Ofrecemos?</h2>
        <div class="feature">
          <img src="http://camposuruguayos.com.uy/wp-content/uploads/2015/10/campo.png" width="50%">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>

          <h4>Galeria de fotos</h4>

          <a href="/welcome/galeria"> <img src="http://camposuruguayos.com.uy/wp-content/uploads/2015/10/campo.png" height="100" width="200"></a>

        </div>
      </section>
      <section>
        <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<a id='tres' name="costo"></a>
          <h2>Precios</h2>
          <div class="pricing_features">
            <h5>Básico [$45.56 pesos]</h5>
            <ul class="pricing_features">
              <li>Algo increíble</li>
              <li>Algo más increíble</li>
              <li>Algo que te maravillará</li>
            </ul>
          </div>
          <div class="pricing_features">
            <h5>Pro [$800.34 pesos]</h5>
            <ul class="pricing_features">
              <li>Algo increíble</li>
              <li>Algo más increíble</li>
              <li>Algo que te maravillará</li>
            </ul>
          </div>
          <div class="pricing_features">
            <h5>Platinum [$1000.5 pesos]</h5>
            <ul class="pricing_features">
              <li>Algo increíble</li>
              <li>Algo más increíble</li>
              <li>Algo que te maravillará</li>
            </ul>
          </div>
          <div class="clear"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        </div>
      </section>
      <div class="clear"></div>
      <section>
        <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<a id='cuatro' name="contacto"></a>
          <h2>Contacto</h2>
          <table width="300px">
            <tbody>
              <tr>
                <td>Email</td>
                <td>mail@company.com</td>
              </tr>
              <tr>
                <td>Twitter</td>
                <td>@twitter_handle</td>
              </tr>
              <tr>
                <td>Teléfono</td>
                <td>55-0984-0298</td>
              </tr>
            </tbody>
          </table>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        </div>
      </section>
    </div>
    <div class="footer">
      <strong><i>Derechos &copy; 2015 Lorem S.A. de C.V</i></strong>
    </div>
  </div>
</body>
</html>