<body>
  <div class="container">

    <header>
      <img id="logo" src="http://camposuruguayos.com.uy/wp-content/uploads/2015/10/campo.png" width="100%">
    </header>
    <nav>
      <ul id="nav-bar">
        <li><a href="/welcome/index">Inicio</a></li>
        <li><a href="/welcome/reserva">Reserva </a></li>
        <li><a href="/welcome/precios">Precios</a></li>
        <li><a href="/welcome/contacto">Contacto</a></li>
      </ul>
      <br clear="all">
    </nav>
    <h5>Change Lenguage</h5>
<h1>Aqui puedes reservar</h1>    
</body>
